@model IDGS902_Tema1.Models.Diccionario

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Diccionario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PalabraEspaniol, "Palabra en español", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PalabraEspaniol, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PalabraEspaniol, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PalabraIngles, "Palabra en inglés", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PalabraIngles, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PalabraIngles, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@if (TempData.ContainsKey("Palabras")){  
<table>
    <thead>
        <tr>
            <th>Palabra en español</th>
            <th>Palabra en inglés</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (string item in TempData["Palabras"] as Array)
            {
                var palabrasDivididas = item.Split(',');
                var palabraEspaniol = palabrasDivididas[0];
                var palabraIngles = palabrasDivididas[1];
                <tr>
                <td>@palabraEspaniol</td>
                <td>@palabraIngles</td>
                </tr>
            }
        
    </tbody>
</table>
}

<div>
    @Html.ActionLink("Buscar Palabra", "Buscar")
</div>

<div>
    @Html.ActionLink("Mostrar tabla", "Tabla")
</div>
